html {
    /*62,5% av 16px ger textstorlek 10px*/
    font-size: 62.5%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*Textstorlek 16px som standard*/
    font-size: 1.6rem;
    line-height: 1.5;
}